groups:
- name: nextcloud
  rules:
    # Nextcloud's special PrometheusTargetMissing rule because exporter can timeout
    - alert: PrometheusTargetMissing
      expr: up{instance="{{ nextcloud_metrics_domain }}:443"} == 0
      for: 3m
      labels:
        severity: critical
      {% raw %}
      annotations:
        summary: Prometheus target missing (instance {{ $labels.instance }})
        description: "A Prometheus target has disappeared. An exporter might be crashed.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

    - alert: NextcloudDown
      expr: nextcloud_up == 0
      for: 3m
      labels:
        severity: critical
      annotations:
        summary: Nextcloud is down (instance {{ $labels.instance }})
        description: "Nextcloud server is not reachable.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

    - alert: NextcloudAppUpdateAvailable
      expr: nextcloud_apps_updates_available_total > 0
      for: 1d
      labels:
        severity: warning
      annotations:
        summary: Nextcloud app updates available. (instance {{ $labels.instance }})
        description: "A Nextcloud app update is available for 1 day.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

    - alert: NextcloudOutOfDisk
      expr: nextcloud_free_space_bytes < 50 * 1000 * 1000 * 1000
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: Nextcloud out of disk space. (instance {{ $labels.instance }})
        description: "Disk is almost full (< 50 GB left).\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
      {% endraw %}
