services:
  prometheus:
    image: quay.io/prometheus/prometheus
    restart: unless-stopped
    networks:
      - prometheus
    volumes:
      - type: volume
        source: prometheus-data
        target: /prometheus
      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
      - type: bind
        source: ./rules
        target: /etc/prometheus/rules

  alertmanager:
    image: quay.io/prometheus/alertmanager
    restart: unless-stopped
    networks:
      - prometheus
    volumes:
      - type: bind
        source: ./alertmanager.yml
        target: /etc/alertmanager/alertmanager.yml

  grafana:
    image: docker.io/grafana/grafana-oss
    restart: unless-stopped
    networks:
      - prometheus
    ports:
      - "[::1]:3000:3000"
    volumes:
      - type: bind
        source: ./grafana/prometheus-datasource.yml
        target: /etc/grafana/provisioning/datasources/prometheus.yaml
      - type: bind
        source: ./grafana/default-dashboards.yml
        target: /etc/grafana/provisioning/dashboards/default.yaml
      - type: bind
        source: ./grafana/dashboards
        target: /var/lib/grafana/dashboards
    environment:
      GF_SECURITY_ADMIN_USER: {{ grafana_admin_user }}
      GF_SECURITY_ADMIN_PASSWORD: {{ grafana_admin_password }}

  node-exporter:
    image: quay.io/prometheus/node-exporter
    restart: unless-stopped
    networks:
      - prometheus

networks:
  prometheus:
    enable_ipv6: true
    ipam:
      config:
        - subnet: fd00:0:4::/48

volumes:
  prometheus-data:
