global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: "monitor"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "alertmanager"
    scrape_interval: 5s
    static_configs:
      - targets: ["alertmanager:9093"]

  - job_name: "node"
    scrape_interval: 5s
    static_configs:
    {%- for server in servers +%}
      - targets: ["{{ hostvars[server]['ansible_host'] }}:9100"]
        labels:
          group: "production"

    {% endfor %}

  - job_name: "nextcloud"
    scrape_interval: 20s
    static_configs:
      - targets: ["{{ nextcloud_metrics_domain }}"]
    scheme: https
    basic_auth:
      username: "{{ nextcloud_metrics_username }}"
      password: "{{ nextcloud_metrics_password }}"

  - job_name: "instagram"
    scrape_interval: 5s
    static_configs:
      - targets: ["instagram.{{ matrix_bridges_metrics_domain }}"]
    scheme: https
    basic_auth:
      username: "{{ matrix_bridges_metrics_username }}"
      password: "{{ matrix_bridges_metrics_password }}"

  {# Meta and Signal bridge metrics are broken
  - job_name: "messenger"
    scrape_interval: 5s
    static_configs:
      - targets: ["messenger.{{ matrix_bridges_metrics_domain }}"]
    scheme: https
    basic_auth:
      username: "{{ matrix_bridges_metrics_username }}"
      password: "{{ matrix_bridges_metrics_password }}"

  - job_name: "signal"
    scrape_interval: 5s
    static_configs:
      - targets: ["signal.{{ matrix_bridges_metrics_domain }}"]
    scheme: https
    basic_auth:
      username: "{{ matrix_bridges_metrics_username }}"
      password: "{{ matrix_bridges_metrics_password }}"

  - job_name: "whatsapp"
    scrape_interval: 5s
    static_configs:
      - targets: ["whatsapp.{{ matrix_bridges_metrics_domain }}"]
    scheme: https
    basic_auth:
      username: "{{ matrix_bridges_metrics_username }}"
      password: "{{ matrix_bridges_metrics_password }}" #}

  - job_name: "ntfy"
    scrape_interval: 10s
    static_configs:
      - targets: ["{{ ntfy_metrics_domain }}"]
    scheme: https
    basic_auth:
      username: "{{ ntfy_metrics_username }}"
      password: "{{ ntfy_metrics_password }}"

  - job_name: "haproxy"
    scrape_interval: 15s
    static_configs:
      - targets: ["{{ ansible_host }}:8405"]
    scheme: http

rule_files:
  - ./rules/prometheus-rules.yml
  - ./rules/node-rules.yml
  - ./rules/nextcloud-rules.yml
  - ./rules/matrix-bridges-rules.yml
  - ./rules/ntfy-rules.yml
  - ./rules/haproxy-rules.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets: ["alertmanager:9093"]
