[Install]
WantedBy=default.target
[Unit]
Description=Build and start prometheus services
After=podman-compose-installed.service
Wants=podman-compose-installed.service
[Service]
ExecStart={{ app_dir }}/start-prometheus.sh